body{
  font-size: 16px;
}
.App {
  text-align: center;

}

.modal {
  position: relative;
  top: 50px;
  background-color: aliceblue;
  width: 300px;
  margin: auto;
  z-index: 4;

}
.Cross_cancel {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.modal__title {
  display: block;
  width: 100%;
  height: 50px;
}
.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 1;
}
p{
  font-size: 16px;
  text-align: center;
}
button{
  padding: 15px;
  width: 100px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }

}
